{{!-- Main title slide --}}
<section class="section-title" data-background="#1E2944" data-transition="{{ theme.specialTransition }}">
	{{> sort-logo }}
	<h4>{{ subtitle }}</h4>
</section>

{{!-- About the author --}}
<section>
	<img class="constrain-width" src="{{ githubData.avatar_url }}" alt="{{ githubData.name }}'s avatar'" />
	<h2>{{ greetingText }}</h2>
	<p>{{ githubData.name }}</p>
	<p><a href="{{ githubData.html_url }}">@{{ githubData.login }}</a>
</section>

{{!-- What to expect --}}
<section>
	<h2>What to expect</h2>
	<ul>
		<li class="fragment roll-in">Covers <strong>basic</strong> to <strong>advanced</strong> features.</li>
		<li class="fragment roll-in">Can't cover everything, but <strong>key</strong> parts.</li>
		<li class="fragment roll-in">Mac hotkeys.</li>
	</ul>
</section>

{{!-- Presentation outline --}}
<section>
	<h2>Presentation Outline</h2>
	<ul>
		{{#each sections }}
			<li class="fragment">{{ title }}</li>
		{{/each }}
	</ul>
</section>

{{!-- Presentation outline --}}
<section>
	<h2>Follow along</h2>
	<div class="fragment roll-in">
		<h3>If you <strong>really</strong> want to learn, <strong>try it with me!</strong></h3>
		<a href="http://trevordmiller.github.io/sortconf-chrome-dev-tools">http://trevordmiller.github.io/sortconf-chrome-dev-tools</a>
	</div>
</section>
